
.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: lightblue;

  }

  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: bold;
    color: lightcoral;
    text-align: center; /* Center the title if needed */
    background-color: lightblue;
  }

  .game-container{
    background-color: lightblue;
  }



